<div class="row">
    <div class="col-xs-12">
        <h1>Documentation</h1>
        <div class="alert alert-info">
            <p>This section will help you to navigate through the site and help you find a particular Api Endpoint. It
                also give a quick overview of the function of each API Endpoint.</p>
            <p>Whenever you see a
                <a tabindex="0" class="" role="button" data-toggle="popover" data-trigger="focus"
                   title="/api/path"
                   data-content="I will give you juicy info on the API Endpoint and code used! :)"
                   style="font-size: 15px;"><span class="glyphicon glyphicon-info-sign"></span></a>
                button click on it to find out details about what <b>API Endpoint</b> is being used and
                some information on what it does. It will also point you to the controller.js file the code
                is being used in so you can copy code to use in your own app!
            </p>
            <p> Visit <a href="https://bootlegger.tv/api/docs">https://bootlegger.tv/api/docs</a>
                for more info.</p>
        </div>
        <div class="col-sm-3">
            <h4>Authentication:</h4>
        </div>
        <div class="col-sm-9">
            <div class="alert alert-warning">
                <p>Well well, you clever clogs! If you have gotten this far, you have already used an API Endpoint. Well
                    done you! There are two main Authentication API Endpoints, <b>/api/auth/login</b> and <b>/api/auth/logout</b>.
                    These are used in the NavBar fixed to the top of the screen</p>
                <p><i>To see an example of these working go to <b>index.js</b> and <b>public/ng/controllers/client_controller.js</b>.</i>
                </p>
            </div>
        </div>

        <div class="col-sm-3">
            <h4>Profile:</h4>
        </div>
        <div class="col-sm-9">
            <div class="alert alert-warning">
                <p><b>/api/profile/mine</b>
                <p>
                <p>This is used in the Shoots tab to list all the users shoots.</p>
                <p><b>/api/profile/me</b>
                <p>
                <p>This retrieves data about the user. Example can be found in the Top Bar.</p>
                <p><b>/api/profile/contributed</b>
                <p>
                <p>List all the shoots the user has contributed to. Example can be found...</p>
                <p><i>To see an example of these working go to <b>public/ng/controllers/client_controller.js</b>.</i>
                </p>

            </div>
        </div>

        <div class="col-sm-3">
            <h4>...:</h4>
        </div>
        <div class="col-sm-9">
            <div class="alert alert-warning">
                <p>...
                <p>
            </div>
        </div>


        <div class="col-sm-3">
            <h4>...:</h4>
        </div>
        <div class="col-sm-9">
            <div class="alert alert-warning">
                <p>...
                <p>
            </div>
        </div>

        <div class="col-sm-3">
            <h4>...:</h4>
        </div>
        <div class="col-sm-9">
            <div class="alert alert-warning">
                <p>...
                <p>
            </div>
        </div>

        <div class="col-sm-3">
            <h4>...:</h4>
        </div>
        <div class="col-sm-9">
            <div class="alert alert-warning">
                <p>...
                <p>
            </div>
        </div>

        <div class="col-sm-3">
            <h4>...:</h4>
        </div>
        <div class="col-sm-9">
            <div class="alert alert-warning">
                <p>...
                <p>
            </div>
        </div>


        <div class="col-sm-3">
            <h4>...:</h4>
        </div>
        <div class="col-sm-9">
            <div class="alert alert-warning">
                <p>...
                <p>
            </div>
        </div>
    </div>
</div>
