<div>
    <h2><span class="glyphicon glyphicon-th-list" style="font-size: 20px"> </span> Menu</h2>
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" ng-click="view = 'shoots'" ng-class="{'active': view=== 'shoots'}"><a href="#/">Shoots</a></li>
        <li role="presentation" ng-click="view = 'new'" ng-class="{'active': view=== 'new'}"><a href="#/newshoot">New Shoot</a></li>
        <li role="presentation" ng-click="view = 'media'" ng-class="{'active': view=== 'media'}"><a href="#/media">Media</a></li>
        <li role="presentation" ng-click="view = 'map'" ng-class="{'active': view=== 'map'}"><a href="#/docs">Docs</a></li>
        <li role="presentation"><a href="">...</a></li>
    </ul>
</div>
