<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Bootlegger API Example</title>
        <meta name="description" content="">
        <base href="/">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script>
        var API_KEY='0bdf30fb-871e-45bd-b1f3-febd5160f6a3';
        var BOOTLEGGER_SERVER = 'http://localhost:1337'
        </script>
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components\socket.io.client\dist\socket.io-1.3.5.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components\angular-sanitize\angular-sanitize.js"></script>
        <script src="bower_components/sails.io.js/sails.io.js"></script>
         <script src="bower_components/angular-sails/dist/angular-sails.js"></script>
        <script src="js/client_controller.js"></script>
    </head>
    <body ng-app="bootleggerApp" ng-controller="client">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div ng-hide="loggedin">
            <a href="#" ng-click="dologin()">Login to Bootlegger</a>
        </div>
        <div ng-show="loggedin">
            <h1>My Shoots</h1>
            <ul>
                <li ng-repeat="shoot in myshoots"><a href="#" ng-click="connect(shoot.id)">{{shoot.name}}</a></li>
                
            </ul>
        </div>
    </body>
</html>
