<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Bootlegger API Example</title>
        <meta name="description" content="">
        <base href="/">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script>
        var API_KEY='0bdf30fb-871e-45bd-b1f3-febd5160f6a3';
        var BOOTLEGGER_SERVER = 'http://localhost:1337'
        </script>
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components\angular-sanitize\angular-sanitize.js"></script>
        <script src="js/bootlegger_sails.io.js"></script>
        <script src="js/ngsails.io.js"></script>
         <script src="js/client_controller.js"></script>
         <script src="bower_components\bootstrap\dist\js\bootstrap.min.js"></script>
        <link rel="stylesheet" href="bower_components\bootstrap\dist\css\bootstrap.min.css">
        <style>
        .grid li
        {
            display: inline-block;
        }    
        
        .grid ul{
            list-style: none;
        }
        </style>
    </head>
    <body ng-app="bootleggerApp" ng-controller="client">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
<div class="container">
        <div ng-hide="loggedin">
            <a class="btn btn-lg btn-primary" href="/auth">Login to Bootlegger</a>
        </div>
        
        <div ng-show="loggedin">
            
            <div class="well">
                <h1>Welcome {{me.profile.displayName}}</h1>
            </div>
            
            <div ng-if="media.length>0" class="grid">
            <ul>
                <li ng-repeat="m in media"><img style="width:120px;" ng-src="{{m.thumb}}"/></li>
            </ul>    
            </div>
            
            <div ng-if="currentshoot">
                {{currentshoot}}
            </div>
            
            
            <h1>My Shoots</h1>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="shoot in myshoots">
                    <div ng-if="!shoot.group">
                        {{shoot.name}} | <a href="#" ng-click="connect(shoot.id)">contribute</a> | <a href="#" ng-click="view(shoot.id)">view</a>
                    </div>
                    <div ng-if="shoot.group && shoot.events.length>0">
                        {{shoot.group}}
                        <ul class="list-group">
                                <li class="list-group-item" ng-repeat="s in shoot.events" >{{s.name}} | <a href="#" ng-click="connect(s.id)">contribute</a> | <a href="#" ng-click="view(s.id)">view</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        
   </div>
    </body>
</html>
